<!-- ueditor -->
<!-- 配置文件 -->
<script type="text/javascript" src="/plugin/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/plugin/ueditor/ueditor.all.js"></script>
<!-- 加载编辑器的容器 -->
<textarea  style="min-height:450px;" name='{$name}' id='textarea_{$name}'>{$content}</textarea>

<script type="text/javascript">
    var ue = UE.getEditor('textarea_{$name}');
    //对编辑器的操作最好在编辑器ready之后再做
    ue.ready(function() {
        //设置编辑器的内容
        //ue.setContent(ue.execCommand( "getlocaldata" ));
    });
</script>